@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r5ym4q');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r5ym4q#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?r5ym4q') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?r5ym4q') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?r5ym4q##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email {
  &:before {
    content: $icon-email;     
    color: #748c94;
  }
}
.icon-eye-closed {
  &:before {
    content: $icon-eye-closed;     
    color: #b1bec2;
  }
}
.icon-eye-open {
  &:before {
    content: $icon-eye-open;     
    color: #b1bec2;
  }
}
.icon-password {
  &:before {
    content: $icon-password;     
    color: #748c94;
  }
}
.icon-person {
  &:before {
    content: $icon-person;     
    color: #748c94;
  }
}

