$icomoon-font-family: "gavea-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-email: "\e900";
$icon-eye-closed: "\e901";
$icon-eye-open: "\e902";
$icon-password: "\e903";
$icon-person: "\e904";

